# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv
venv/
env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
